<div id="header">
    <span class="htext">Lab Reservation</span>
    <ul class="nav-ul" id="menu"></ul>
    <script src="/js/nav.js"></script>
    <script src="/js/validator.min.js"></script>
</div>
<script src="js/registerAndLogin.js"></script>