<div id="header">
    <span class="htext">Lab Reservation</span>
    <ul class="nav-ul" id="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/labs">Reserve</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/about">About</a></li>
    </ul>
    <!--<script src="/js/nav.js"></script>-->
</div>