<div id="res-container">
    <div id="res-buttons">
        <div id="res-labs">
            <button id="lab-a">Laboratory A</button>
            <button id="lab-b">Laboratory B</button>
            <button id="lab-c">Laboratory C</button>
        </div>
        <div id="res-days"></div>
        <div id="res-time-slots">
            <label for="time-slots">Time Slot: </label>
            <select name="time-slots" id="time-slots"></select>
        </div>
    </div>
    <div id="res-another-container">
        <div id="res-seats-container"></div>
        <div id="active-reservations">
            <div>
                <span>User Reservations</span>
            </div>
            <div id="user-res-container"></div>
        </div>
    </div>
</div>
<script src="/js/reservation.js"></script>