<div class="body-container">
    <div id="res-container">
        <h2>Reserve</h2>
        <div id="res-buttons">
            <div id="res-days"></div>
            <div class="labs-slots-container">
                <div id="res-labs">
                    <button id="lab-a" class="lab-btn active">Laboratory A</button>
                    <button id="lab-b" class="lab-btn">Laboratory B</button>
                    <button id="lab-c" class="lab-btn">Laboratory C</button>
                </div>
                <div id="res-time-slots">
                    <label for="time-slots">Time Slot: </label>
                    <select name="time-slots" id="time-slots"></select>
                </div>
            </div>
        </div>
        <div class="legend">
            <div class="legend-reserved"></div>
            <span>Reserved</span>
            <div class="legend-available"></div>
            <span>Available</span>
        </div>
        <div id="res-another-container">
            <div id="res-seats-container"></div>
        </div>
    </div>
</div>
<script src="/js/reservation.js"></script>
