<table id="reservation-list">
    <tr>
        <th>Laboratory</th>
        <th>Seat #</th>
        <th>Date Reserved</th>
        <th>Date of Reservation</th>
        <th>Time</th>
        <th class='no-outline'></th>
        <th class='no-outline'></th>
    </tr>
</table>

<div id="edit-div" class="display: none">
    <h3>Edit reservation: </h3>
    <form id="edit-reservation">
        <label>Laboratory: </label>
        <select id="lab" name="lab">
            <option value="a">Laboratory A</option>
            <option value="b">Laboratory B</option>
            <option value="c">Laboratory C</option>
        </select>
        <br>

        <label>Reservation Date: </label>
        <input id="reservation_date" type="date" name="reservation_date">
        <br>

        <label>TimeSlot: </label>
        <select id="time_slot" name="time_slot">
        </select>
        <br>
        <button id="cancel-edit">Cancel</button>
        <button id="submit-edit">Apply</button>
    </form>
</div>
