#header{
    position: sticky;
    top: 0;
    display: flexbox;
    flex-direction: row;
    background-color: cyan; 
    border: solid 1px gray;
}

.htext{
    font-weight: bold;
    font-size: 1.4rem;
}

.hnav{
    align-items: flex-end;
}


p, h2 {
    font-family: sans-serif;
}

ul li {
    font-family: sans-serif;
}

p {
}

.days-container{
    display: flex;
    border: 5px dashed red;
}

.days {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.days p, .days ul{
    border: 3px dashed pink;
/*     width: 500px; */
}

.days ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.days ul > li {
    border: 3px dashed red;
}
