#header{
    position: sticky;
    top: 0;
    display: flexbox;
    flex-direction: row;
    background-color: cyan; 
    border: solid 1px gray;
}

.htext{
    font-weight: bold;
    font-size: 1.4rem;
}

.hnav{
    align-items: flex-end;
}


p, h2 {
    font-family: sans-serif;
}

ul li {
    font-family: sans-serif;
}

.seats-container, .lab-seat {
    padding: 5px 10px;
}

.seats-container {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
}

.seats-container > .bottom-div {
    display: flex;
    flex-direction: row;
}

.top-div-items {
    margin: 5px 10px;
}
