<!DOCTYPE html>

<html>
<head>
    <title>Laboratory | About</title>
    {{> head}}

    <link rel="stylesheet" type="text/css" href="/css/about.css">
</head>
<body>
{{> header flag=flag username=username}}
<div class="body-container">
    <section>
        <h2> Packages used</h2>
        <table>
            <tr>
                <th>Package</th>
                <th>Version</th>
                <th>Install</th>
            </tr>
            <tr>
                <td>bcrypt</td>
                <td>5.1.0</td>
                <td>npm install bcrypt</td>
            </tr>
            <tr>
                <td>body-parser</td>
                <td>1.20.2</td>
                <td>npm install body-parser</td>
            </tr>
            <tr>
                <td>dotenv</td>
                <td>16.3.1</td>
                <td>npm install dotenv</td>
            </tr>
            <tr>
                <td>express</td>
                <td>4.18.2</td>
                <td>npm install express</td>
            </tr>
            <tr>
                <td>express-validator</td>
                <td>7.0.1</td>
                <td>npm install express-validator</td>
            </tr>
            <tr>
                <td>hbs</td>
                <td>4.2.0</td>
                <td>npm install hbs</td>
            </tr>
            <tr>
                <td>mongoose</td>
                <td>5.9.6</td>
                <td>npm install mongoose</td>
            </tr>
            <tr>
                <td>validator</td>
                <td>13.9.</td>
                <td>npm install validator</td>
            </tr>
        </table>
    </section>
</div>

<script src="/js/registerAndLogin.js"></script>
</body>
</html>
