<!DOCTYPE html>

<html>
<head>
    {{> head}}

    <title>Home | Lab Reservation</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
</head>
<body>
{{> header flag=flag username=username}}

<div>
    <div class="body-container">
        <div class="body-header">
            <span>Computer Laboratories</span>
        </div>
        <div class="body-content">
            <div class="body-image"></div>
            <div class="body-card">
                <div class="body-card-description">
                    <span>Step into our dynamic computer laboratory, where innovation meets technology. Experience the latest hardware and software, including high-performance workstations and powerful servers.</span>
                </div>
                <form action="/labs">
                    <button>Make a Reservation</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>