<!DOCTYPE html>

<html>
    <head>
        <title>Laboratory | Availability</title>
        {{> head}}
        <script src="js/viewReserve.js"></script>
    </head>
    <body>

        {{> header}}

        {{>reservation }}

    </body>
</html>


