<!DOCTYPE html>

<html>
<head>

    {{> head}}

    <title>Reserve | Lab Reservation</title>
    <link rel="stylesheet" type="text/css" href="/css/labs.css">
    <script src="js/viewReserve.js"></script>
</head>
<body>

{{> header flag=flag username=username}}

{{>reservation }}

</body>
</html>
