<!DOCTYPE html>
<html>
<head>
    {{> head}}
</head>
<body>
{{> header}}

<form id="login" method="post">
    <input type="text" id="username" name="username" placeholder="Enter your username"><br>
    <input type="password" id="password" name="password" placeholder="Enter your password"><br>
    <input type="submit" value="Login" id="submit">
</form>
<p id="error" class="error">{{error}}</p>
</body>
</html>