<!DOCTYPE html>

<html>
    <head>
        <title>Laboratory | Search</title>
        {{> head}}
        <script src="search.js"></script>
    </head>
    <body>
        {{> header}}

        <section>
        <h1>Search</h1>
        <form>
            <input type="search" name="search" id="search">
            <input type="submit" name="submit" id="submit">
        </form>
        </section>
        
        <script src="/js/registerAndLogin.js"></script>
    </body>
</html>
