.body-container form{
    background-color: white;
    box-shadow: 2px 2px 7px #bdbdbd;
    margin: auto;
    padding: 30px;
    width: 350px;
}

.body-container h2{
    font-size: x-large;
    letter-spacing: 1px;
    text-align: center;
    text-transform: capitalize;
}

.body-container label{
    font-size: 15px;
    font-weight: 300;
}

.body-container input[type="text"], input[type="password"]{
    border: solid 1px rgba(128, 128, 128, 0.85);
    background-color: rgba(238, 238, 238, 0.25);
    height: 25px;
    margin-bottom: 10px;
    width: 100%;
}

.button-wrapper{
    margin-top: 40px;
    text-align: center;
}

.button-wrapper button{
    background-color: black;
    border: 0;
    color: white;
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    width: 50%;
}

.error{
    color: red;
    font-weight: 300;
    font-size: small;
    margin: 10px 0;
}