@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: #f3f3f3;
    font-family: Roboto, serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.header-container{
    background-color: black;
    width: 100%;
}

.header{
    align-items: center;
    color: white;
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px 0;
    width: 75%;
}

.header-text{
    font-size: larger;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.header a{
    color: white;
    font-weight: lighter;
    text-decoration: none;
}

.nav-ul{
    display: inline;
    list-style-type: none;
    margin-left: auto;
    padding: 0;
}

.nav-ul li{
    display: inline;
    margin-left: 15px;
}

.body-container{
    margin: auto;
    padding: 100px 0;
    width: 75%;
}